annotated-types==0.6.0
anyio
asgiref
cachetools
certifi
charset-normalizer
click
cohere
colorama
contourpy
cycler
diskcache
distro
Django
fastavro
filelock
fonttools
fsspec
google-auth
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
joblib
kiwisolver
llmx
markdown-it-py
matplotlib
mdurl
numpy
openai
packaging
pandas
pillow
pyasn1=
pyasn1_modules
pydantic
pydantic_core
pyDecision
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
rsa
scikit-learn
scipy
shellingham
six
sniffio
sqlparse
threadpoolctl
tiktoken
tokenizers
tqdm
typer
types-requests
typing_extensions
tzdata
urllib3
